@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #7E7E7E;
  /* font-family: 'Mulish', sans-serif; */
}

body._lick {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.block__header {
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-family: 'Mulish', sans-serif;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  color: #1C2752;
  margin-bottom: 12px;
}

.text {
  letter-spacing: 0.36px;
}
.text + .text {
  margin-top: 10px;
}

.subtitle {
  font-size: 18px;
  line-height: 1.5;
  color: #1C2752;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  margin-bottom: 22px;
  padding: 0 22px 0 52px;
  position: relative;
  display: inline-block;
  background-color: #fff;
}
.subtitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 27px;
  background-image: url(/img/pen.svg);
  background-repeat: no-repeat;
  top: -3px;
  left: 16px;
}

.header-top {
  background-color: #f2f2f2;
  padding: 21px 0;
}

.row__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__opening {
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
  color: color-dark;
}

.header__contact {
  background-color: #ffffff;
}

.row__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-items {
  display: flex;
  column-gap: 65px;
}

.contact-item {
  display: flex;
  justify-content: center;
}

.contact-item__info {
  margin-left: 15px;
}

.contact-item__title {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.36px;
}

.contact-item__mail {
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
  color: inherit;
}

.contact-item__phono,
.contact-item__location {
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
  color: inherit;
}

.menu {
  background-color: #ffb342;
  position: relative;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 55px;
  padding: 30px 35px 30px 25px;
}

.menu__link {
  font-size: 19px;
  line-height: 1.58;
  letter-spacing: 0.36px;
  color: #222222;
  transition: color 0.5s ease;
}
.menu__link:hover {
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.logo__img {
  width: 130px;
  margin-right: 15px;
}

.logo__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.65;
  color: #1C2752;
}

.flesh {
  display: block;
  background-image: url(/img/flesh.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -43px;
  /* 	position: relative;
	z-index: -1; */
}

.flesh__contant {
  max-width: 700px;
  padding: 212px 0 230px;
  display: flex;
  flex-direction: column;
}

.flesh__title {
  font-size: 50px;
  line-height: 1.3;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding-top: 30px;
}

.flesh__text {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #ffffff;
  order: -1;
  padding-left: 35px;
  position: relative;
}
.flesh__text::before {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 27px;
  background-image: url(/img/pen.svg);
  background-repeat: no-repeat;
  top: -3px;
  left: 2px;
}

.flash__link {
  max-width: 230px;
  background-color: #ffb342;
  border: 2px solid #ffb342;
  padding: 12px 42px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: #1C2752;
  margin-top: 30px;
}

.services {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #F4F4F4;
}

.services__cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  margin-top: 48px;
}

.card {
  padding: 50px 46px 90px 35px;
  background-color: #435494;
  transition: background-color 0.5s ease;
}
.card:hover {
  background-color: #5b6074;
}

.card__icon {
  margin-bottom: 20px;
}

.card__title {
  font-size: 25px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #ffb342;
}

.card__text {
  color: #D2D2D2;
  letter-spacing: 0.36px;
}

.about {
  background-color: #ffb342;
  padding-top: 100px;
}

.about__commercial {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}

.about__header {
  max-width: 832px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 475px;
}

.about__text {
  color: #1C2752;
}

.about__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  background-color: #fff;
  padding: 70px 60px 80px 60px;
  margin-top: -430px;
  column-gap: 74px;
}

.about__img {
  max-width: 100%;
  height: 100%;
}

.price {
  background-color: #F4F4F4;
  padding-top: 200px;
  padding-bottom: 50px;
  margin-top: -130px;
  position: relative;
  z-index: -10;
}

.price__bottom {
  margin-top: 15px;
}

.price__bottom-item {
  padding-left: 5px;
}
.price__bottom-item::marker {
  content: "•";
  color: #ffb342;
  font-size: 20px;
}

/* Стили таблицы (IKSWEB) */
table.iksweb {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

table.iksweb th {
  font-weight: normal;
  font-size: 14px;
  color: #ffb342;
  background-color: #435494;
}

table.iksweb td {
  font-size: 15px;
  color: #7e7e7e;
}

table.iksweb td,
table.iksweb th {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 15px;
  vertical-align: middle;
  border: 1px solid #1c2752;
}

table.iksweb tr:hover {
  background-color: #ebebeb;
}

table.iksweb tr:hover td {
  color: #1c2752;
  cursor: default;
}

.gallery {
  background-color: #1C2752;
  padding: 140px 0 120px;
}

.gallery__container {
  max-width: 1400px;
  margin: 0 auto;
}

.gallery__header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.gallery__title {
  color: #fff;
}

.gallery__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 30px;
}

.gallery__block {
  background-color: #fff;
  padding: 21px;
}

.gallery__img {
  margin: 0 auto;
  display: block;
}

.gallery__box {
  text-align: center;
}

.gallery__name {
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  margin-bottom: 4px;
  color: #1C2752;
}

.gallery__text {
  font-size: 17px;
  line-height: 1.59;
  text-align: center;
  letter-spacing: 0.36px;
}

.footer {
  background: #1C2752;
  padding-bottom: 85px;
}

.footer__top {
  padding: 40px 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img-footer {
  width: 100px;
}

.logo__title-footer {
  color: #fff;
  font-size: 25px;
  line-height: 1;
}

.contact-item__info-footer {
  color: #FFFFFF;
  margin-left: 15px;
}

.contact-item__title-footer {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.36px;
}

.contact-item__mail-footer {
  color: inherit;
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
}

.contact-item__phono-footer {
  color: inherit;
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
}

.contact-item__location-footer {
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.36px;
}

.footer__bottom {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #4B557D;
  border-top: 1px solid #4B557D;
  padding-top: 40px;
}

.footer__bottom-text {
  max-width: 395px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}

.footer__bottom-img {
  position: relative;
  padding: 0 48px;
}
.footer__bottom-img::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 223px;
  background-color: #4B557D;
  top: 89px;
  left: 0;
}
.footer__bottom-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 223px;
  background-color: #4B557D;
  top: 89px;
  right: 0;
}

.footer__bottom-services {
  padding-bottom: 21px;
  padding-left: 20px;
}

.services__title,
.footer__bottom-title {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.36px;
  color: #ffb342;
  margin-bottom: 17px;
}

.services__item {
  line-height: 1.59;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}
.services__item + .services__item {
  margin-top: 10px;
}

@media (max-width: 1150px) {
  .logo__title {
    font-size: 25px;
  }

  .logo__img {
    width: 130px;
  }

  .contact-items {
    column-gap: 20px;
  }

  .price {
    padding-top: 350px;
    margin-top: -300px;
  }
}
@media (max-width: 990px) {
  .logo__title {
    font-size: 20px;
  }

  .logo__img {
    width: 100px;
  }

  .about__box {
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
  }

  .price {
    padding-top: 500px;
    margin-top: -452px;
  }

  .logo__img-footer {
    width: 100px;
  }

  .logo__title-footer {
    font-size: 20px;
  }
}
@media (max-width: 950px) {
  .contact-item__img {
    width: 60px;
  }

  .contact-item__phono,
  .contact-item__location {
    font-size: 15px;
  }

  .services {
    padding-top: 90px;
  }

  .title {
    font-size: 35px;
  }

  .about {
    padding-top: 90px;
  }

  .contact-item__title-footer,
  .contact-item__phono-footer,
  .contact-item__location-footer {
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .logo__img,
  .logo__img-footer {
    width: 80px;
  }

  .contact-items {
    column-gap: 15px;
  }

  .contact-item__title {
    font-size: 15px;
  }

  .flesh__title {
    font-size: 40px;
  }

  .logo__title-footer {
    font-size: 15px;
  }

  .services__title,
  .footer__bottom-title {
    font-size: 18px;
  }

  .footer__bottom-text,
  .services__item {
    font-size: 16px;
    line-height: 1.2;
  }
  .footer__bottom-text + .services__item,
  .services__item + .services__item {
    margin-top: 5px;
  }

  .footer__bottom-img {
    padding: 0 30px;
  }
}
@media (max-width: 800px) {
  .row__contact {
    flex-direction: column;
  }

  .contact-items {
    padding-bottom: 15px;
  }

  .flesh__text {
    font-size: 16px;
  }

  .services {
    padding-top: 70px;
  }

  .title {
    font-size: 30px;
  }

  .card {
    padding: 30px;
  }

  .services__cards {
    grid-gap: 23px;
  }

  .about {
    padding-top: 70px;
  }

  .footer__top {
    padding: 30px 0;
  }

  .contact-item__img {
    width: 55px;
  }

  .footer__bottom-img {
    display: none;
  }
}
@media (max-width: 700px) {
  .flesh__title {
    font-size: 35px;
  }

  .menu__list {
    column-gap: 25px;
  }

  .menu__link {
    font-size: 18px;
  }

  .flesh__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .services__cards {
    margin-top: 30px;
  }

  .footer__top {
    padding: 20px 0;
  }

  .footer__row {
    flex-direction: column;
  }

  .footer__bottom-services {
    padding-left: 15px;
  }
}
@media (max-width: 560px) {
  .services__title,
  .footer__bottom-title {
    font-size: 16px;
  }

  .footer__bottom-text, .services__item {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contact-item {
    align-items: center;
  }

  .contact-item__img {
    width: 35px;
  }
}
@media (max-width: 450px) {
  .header-top {
    padding: 3px 0;
  }

  .header-top__opening {
    max-width: 140px;
  }

  .contact-items {
    flex-direction: column;
    row-gap: 15px;
  }

  .about__box {
    padding: 15px;
  }

  table.iksweb td, table.iksweb th {
    padding: 2px 2px;
    font-size: 12px;
  }

  .contact-item__info-footer {
    margin-left: 10px;
  }

  .contact-item__phono-footer, .contact-item__location-footer {
    font-size: 12px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__bottom-services {
    padding: 0;
    margin-top: 23px;
  }
}
@media (max-width: 400px) {
  .flesh__title {
    font-size: 25px;
  }

  .services {
    padding-top: 50px;
  }

  .services__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 18px;
  }

  .title {
    font-size: 20px;
  }

  .card {
    padding: 15px;
  }

  .card__title {
    font-size: 21px;
  }

  .about {
    padding-top: 50px;
  }
}
.nav-button {
  display: none;
}

@media (max-width: 550px) {
  .menu__list {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav-button {
    display: block;
    top: 3px;
    right: 30px;
    position: fixed;
    width: 54px;
    height: 50px;
    z-index: 9;
  }

  .menu.open .menu__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F5;
    z-index: 1;
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 35px;
    font-size: 34px;
    font-weight: 600;
  }

  .menu__link {
    transition: color 0.3s ease;
  }

  .menu__link:hover {
    color: #ffb342;
  }

  .flesh {
    margin-top: -7px;
  }
}

/*# sourceMappingURL=main.css.map */
