.about {

  background-color: $color-accent;
  padding-top: 100px;
}
.about__commercial {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}
.about__header {
  max-width: 832px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 475px;
}

.about__text {
  color: $color-dark;
}
.about__box {
  display: flex;
  justify-content: space-between;
	align-items: center;
  max-width: 1160px;
  background-color: #fff;
  padding: 70px 60px 80px 60px;
  margin-top: -430px;
	column-gap: 74px;
}
.about__img {
	max-width: 100%;
	height: 100%;

}
