.logo {
	display: flex;
	align-items: center;
	padding: 15px 0;
}

.logo__link {
}
.logo__img {
	width: 130px;
	margin-right: 15px;
}

.logo__title {
	font-weight: 400;
font-size: 35px;
line-height: 1.65;
color: $color-dark;
}